:root {
    --darkest: #0e100f;
    --darker: #121f27;
    
    --white: #f5fafb;
    --gray: #bcc1bd;

    --color1darkest: #1f4053;
    --color1dark: #204e6b;
    --color1: #3eaec6;

    --color2darkest: #504b2d;
    --color2: #f1c24b;
}