#homeSection {
    position: absolute;
    width: 99%;
    margin: 0;
}

#homeSection h1 {
    margin: 0;
    margin-top: 10%;
    font-size: 5vw;
    /* Set the background color */
    background: linear-gradient(to bottom, var(--white) 40%, var(--gray) 100%);
    /* Mask the color to the text, and remove the rest  */
    -webkit-background-clip: text;
    background-clip: text;
    /* Make the text fill color value transparent so the masked background color comes through */
    -webkit-text-fill-color: transparent;
}

#homeSection h3 {
    margin: 0;
    margin-top: 2vh;
    color: var(--gray);
    font-weight: 200;
    font-size: 1.2vw;
}

#homeSection button {
    margin-top: 8%;
    width: 10vw;
}

@media screen and (max-width: 480px) {
    #homeSection h1 {
        margin-top: 30vh;
        font-size: 8vw;
    }

    #homeSection h3 {
        font-size: 3vw;
        width: 50%;
        text-align: center;
    }

    #homeSection button {
        font-size: 3vw;
        width: 25vw;
        height: 4vh;
        margin-top: 40vh;
    }
}