#urlSectionBack {
    display: none;
    margin-top: 3%;
    position: relative;
    width: 95%;
    height: 30vh;
    margin-left: calc((100vw - 95% - 1%) / 2);
    border-radius: 15px;
    background-color: #0e100f;
    background-image:
        radial-gradient(at 10% 20%, var(--color1darkest) 0, transparent 30%),
        radial-gradient(at 95% 90%, var(--color1darkest) 0, transparent 30%),
        radial-gradient(at 95% 50%, var(--color1darkest) 0, transparent 30%),
        radial-gradient(at 5% 50%, var(--color1darkest) 0, transparent 20%);
}

#urlSection {
    height: 30vh;
    border-radius: 15px;
    padding-bottom: 2vh;
}

#urlSection h1 {
    font-size: 3vw;
}

#copyUrlButton {
    width: 13vw;
}

#urlBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#urlBox h3 {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 2vh;
    margin-top: 0;
    color: var(--gray);
    font-weight: 200;
    height: 8vh;
    border-radius: 10px;
    text-align: left;
    user-select: text;
    -webkit-user-select: text;
    width: 50%;
    overflow: scroll;
}

@media screen and (max-width: 480px) {
    #urlBox h3 {
        width: 80vw;
        font-size: 4vw;
    }

    #urlSection h1 {
        font-size: 5vw;
    }

    #copyUrlButton {
        font-size: 4vw;
        width: 50vw;
        height: 4vh;
    }
}

@media screen and (min-width: 481px) {
    #urlBox h3 {
        width: 60vw;
        font-size: 3vw;
    }
    #urlSection h1 {
        font-size: 4vw;
    }

    #copyUrlButton {
        font-size: 3vw;
        width: 30vw;
        height: 4vh;
    }

}

@media screen and (min-width: 768px) {
    #urlBox h3 {
        width: 60vw;
        font-size: 2vw;
    }
    #urlSection h1 {
        font-size: 2.5vw;
    }

    #copyUrlButton {
        font-size: 1.5vw;
        width: 15vw;
        height: 6vh;
    }
}

@media screen and (min-width: 1024px) {
    #urlBox h3 {
        width: 60vw;
        font-size: 1.3vw;
    }
    #urlSection h1 {
        font-size: 2vw;
    }

    #copyUrlButton {
        font-size: 1.2vw;
        width: 15vw;
        height: 6vh;
    }

}