@import url("fonts/fonts.css");
@import url("colors.css");
@import url("navbar.css");
@import url("section1.css");
@import url("section2.css");
@import url("section3.css");
@import url("countdown.css");

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-year-field:focus {
    background-color: var(--color1);
    color: var(--white);
    outline: none;
    border-radius: 3px;
}

body {
    font-family: "Objectivity Regular";
    background-color: var(--darkest);
    color: var(--white);
    user-select: none;
    -webkit-user-select: none;
    border: 1%
}

.glass {
    backdrop-filter: blur(25px) saturate(100%);
    -webkit-backdrop-filter: blur(25px) saturate(100%);
    background-color: rgba(17, 25, 40, 0.36);
}

#sectionsContainer {
    display: flex;
    flex-direction: column;
}

.section {
    height: calc(100vh - 14vh);
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: "Objectivity Regular";
    font-weight: 700;
    font-size: 1.2vw;
    border: none;
    outline: none;
    cursor: pointer;
    width: 8vw;
    height: 6vh;
    border-radius: 6px;
}

.particles-js-canvas-el {
    height: calc(100vh - 14vh);
}

footer {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 3%;
}

footer h3,
h4 {
    margin: 0;
    font-weight: 400;
}

footer h3 {
    font-size: 2.2vh;
}

footer h4 {
    font-size: 1.8vh;
}

#blocker {
    position: absolute;
    top: 80%;
    left: 5%;
    border-radius: 8px;
    display: flex;
    width: 50vw;
    font-size: 2vw;
    height: 12vh;
    border: 1px solid var(--color1darkest);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}