@font-face {
    font-family: 'Objectivity Regular Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Regular Slanted'), url('Objectivity-RegularSlanted.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity-Regular'), url('Objectivity-Regular.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Light';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Light'), url('Objectivity-Light.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Thin Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Thin Slanted'), url('Objectivity-ThinSlanted.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Light Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Light Slanted'), url('Objectivity-LightSlanted.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Thin'), url('Objectivity-Thin.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Medium Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Medium Slanted'), url('Objectivity-MediumSlanted.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Medium'), url('Objectivity-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Objectivity Bold Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Bold Slanted'), url('Objectivity-BoldSlanted.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Bold'), url('Objectivity-Bold.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Black Slanted';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Black Slanted'), url('Objectivity-BlackSlanted.woff2') format('woff2');
}


@font-face {
    font-family: 'Objectivity Black';
    font-style: normal;
    font-weight: normal;
    src: local('Objectivity Black'), url('Objectivity-Black.woff2') format('woff2');
}